<a href="https://colab.research.google.com/github/iamharsh08raj/DSA-Exercises/blob/main/Recursion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Given an integerÂ `n`, returnÂ *`true`Â if it is a power of two. Otherwise, returnÂ `false`*.

An integerÂ `n`Â is a power of two, if there exists an integerÂ `x`Â such thatÂ `n == 2x`.

**Example 1:**
Input: n = 1

Output: true

**Example 2:**
Input: n = 16

Output: true

**Example 3:**
Input: n = 3

Output: false

In [1]:
def is_power_of_two(n):
    if n <= 0:
        return False
    return n & (n - 1) == 0

# Example usage:
print(is_power_of_two(1))   # Output: True
print(is_power_of_two(16))  # Output: True
print(is_power_of_two(3))   # Output: False

True
True
False

Given a number n, find the sum of the first natural numbers.

**Example 1:**

Input: n = 3

Output: 6

**Example 2:**

Input  : 5

Output : 15

In [2]:
def sum_of_natural_numbers(n):
    sum = (n * (n + 1)) // 2
    return sum

# Example usage:
print(sum_of_natural_numbers(3))  # Output: 6
print(sum_of_natural_numbers(5))  # Output: 15

6
15

Given a positive integer, N. Find the factorial of N.

**Example 1:**

Input: N = 5

Output: 120

**Example 2:**

Input: N = 4

Output: 24

In [3]:
def factorial(N):
    result = 1
    for i in range(1, N + 1):
        result *= i
    return result

# Example usage:
print(factorial(5))  # Output: 120
print(factorial(4))  # Output: 24

120
24

Given a number N and a power P, the task is to find the exponent of this number raised to the given power, i.e. N^P.

**Example 1 :**

Input: N = 5, P = 2

Output: 25

**Example 2 :**
Input: N = 2, P = 5

Output: 32

In [4]:
def exponentiation(N, P):
    result = N ** P
    return result

# Example usage:
print(exponentiation(5, 2))  # Output: 25
print(exponentiation(2, 5))  # Output: 32

25
32

Given an array of integersÂ **arr**, the task is to find maximum element of that array using recursion.

**Example 1:**

Input: arr = {1, 4, 3, -5, -4, 8, 6};
Output: 8

**Example 2:**

Input: arr = {1, 4, 45, 6, 10, -8};
Output: 45

In [6]:
def exponentiation(N, P):
    result = N ** P
    return result

# Example usage:
print(exponentiation(5, 2))  # Output: 25
print(exponentiation(2, 5))  # Output: 32

25
32

Given first term (a), common difference (d) and a integer N of the Arithmetic Progression series, the task is to find Nth term of the series.

**Example 1:**

Input : a = 2 d = 1 N = 5
Output : 6
The 5th term of the series is : 6

**Example 2:**

Input : a = 5 d = 2 N = 10
Output : 23
The 10th term of the series is : 23

In [7]:
def nth_term_of_ap(a, d, N):
    nth_term = a + (N - 1) * d
    return nth_term

# Example usage:
print(nth_term_of_ap(2, 1, 5))   # Output: 6
print(nth_term_of_ap(5, 2, 10))  # Output: 23

6
23

Given a string S, the task is to write a program to print all permutations of a given string.

**Example 1:**

***Input:***

*S = â€œABCâ€*

***Output:***

*â€œABCâ€, â€œACBâ€, â€œBACâ€, â€œBCAâ€, â€œCBAâ€, â€œCABâ€*

**Example 2:**

***Input:***

*S = â€œXYâ€*

***Output:***

*â€œXYâ€, â€œYXâ€*

In [8]:
from itertools import permutations

def print_permutations(S):
    # Generate all permutations of the string
    perms = permutations(S)

    # Print each permutation
    for perm in perms:
        print("".join(perm))

# Example usage:
print_permutations("ABC")  # Output: ABC, ACB, BAC, BCA, CAB, CBA
print_permutations("XY")   # Output: XY, YX

ABC
ACB
BAC
BCA
CAB
CBA
XY
YX

<aside>
ðŸ’¡ **Question 8**

Given an array, find a product of all array elements.

**Example 1:**

Input  : arr[] = {1, 2, 3, 4, 5}
Output : 120
**Example 2:**

Input  : arr[] = {1, 6, 3}
Output : 18

</aside>

In [9]:
def product_of_array(arr):
    product = 1
    for num in arr:
        product *= num
    return product

# Example usage:
print(product_of_array([1, 2, 3, 4, 5]))  # Output: 120
print(product_of_array([1, 6, 3]))        # Output: 18

120
18